@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jacek Koziński<br />
    <abbr title="Phone">P:</abbr>
    723 893 082
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jckkozinski@gmail.com">jckkozinski@gmail.com</a>
</address>